<app-header></app-header>
<div class="row center-align">
  <div class="col s12 m12 l12">
    <h3 class="blue-grey-text left"><i class="material-icons">chevron_right</i>Certificados</h3>
  </div>
  <div class="row">
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/aluno.jpg">
    <p class="tituloLetra">José Adriano</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/aluno2.jpg">
    <p class="tituloLetra">José Ronaldo</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/eliane.jpg">
    <p class="tituloLetra">Maria Eliane</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/aline.jpg">
    <p class="tituloLetra">Aline Ferreira</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/alice1.jpg">
    <p class="tituloLetra">Alice Santos</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/jeff.jpg">
    <p class="tituloLetra">Jefferson F.</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/vanessa.jpg">
    <p class="tituloLetra">Vanessa S.</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/fran.jpg">
    <p class="tituloLetra">Franciele M.</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/valdson.jpg">
    <p class="tituloLetra">Valdson A.</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/fabricia.jpg">
    <p class="tituloLetra">Fabricia S.</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/ingrid_carol.jpg">
    <p class="tituloLetra">Ingrid C.</p>
  </div>
  <div class="col s12 m2 l2">
    <img src="./assets/img/certificados/thallyta.jpg">
    <p class="tituloLetra">Thallyta</p>
  </div>
</div>
