<app-header></app-header>
<div *ngIf="telaInfo">
  <app-informatica></app-informatica>
</div>
<div *ngIf="telaProf">
    <app-profissionalizantes></app-profissionalizantes>
</div>
<div *ngIf="telaDesigner">
    <app-designer></app-designer>
</div>
<div *ngIf="telaGames">
    <app-games></app-games>
</div>
<div *ngIf="telaFoto">
    <app-fotografia></app-fotografia>
</div>
<div *ngIf="telaWeb">
    <app-web></app-web>
</div>
<div *ngIf="telaProgramacao">
    <app-programacao></app-programacao>
</div>
<div *ngIf="telaVideo">
    <app-video></app-video>
</div>
