<app-header></app-header>
<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="alert alert-warning text-center" role="alert">
        <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i><br/>
        Curso não encontrado!<br/>Esse curso não existe ou você escreveu um nome direto na barra de endereço.<br/>
        <a href="javascript:;" routerLink="/home">Retornar à Página Inicial</a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
    </div>
  </div>
</div>



