<div class="col-sm-12 col-md-12 col-lg-12 header">
  <div class="row linhaTopo">
    <div class="col-md-12 col-lg-1"></div>
    <div class="col-sm-12 col-md-12 col-lg-5">
      <span>fone: (81)9.9461-4072</span>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 contato">
      <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5581994614072"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/spacocursosOficial/"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/spacocursos/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
      <a href="mailto:spaco.cursos@hotmail.com"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm-1 col-md-12 col-lg-1"></div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row linhaMenu">
      <div class="col-md-12 col-lg-1"></div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <img src="../../../assets/img/marca/logo_color.jpg" alt="Marca Spaço Cursos">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 menuCursos">
        <nav>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/depoimentos">Depoimentos</a></li>
            <li><a routerLink="/fotos">Fotos</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-12 col-lg-1"></div>
    </div>
  </div>
</div>
