<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-md-12 col-lg-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-8 imagemDetalhe">
        <img src="../../assets/img/img_cursos/cursos_microsoft_access.jpg">
      </div>
      <div class="col-md-12 col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-8">
        <h3>Descrição:</h3><br/>
        <p>Curso Fotografia voltado para quem tem interesse em dkhdkfhaçskdfhaç</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-3">
          <h3>Cursos desse pacote:</h3><br/>
          <ul>
            <li>Fotografia</li>
          </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2">
          <h3>Investimento:</h3><br/>
          3x 150,00
        </div>
      <div class="col-sm-12 col-md-12 col-lg-2">
        <h3>Horária Total:</h3><br/>
        30 horas
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
    </div>
  </div>
