<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-md-12 col-lg-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-8 imagemDetalhe">
        <img src="../../assets/img/img_cursos/cursos_microsoft_access.jpg">
      </div>
      <div class="col-md-12 col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-8">
        <h3>Descrição:</h3><br/>
        <p>O Microsoft Access é um Sistema de Gerenciamento de Banco de Dados (SGBD),
          ou seja, é um aplicativo utilizado na criação de Banco de Dados, nos quais devem
          ser guardados vários tipos de dados e informações. Ao final deste curso, o aluno
          desenvolverá uma agenda eletrônica utilizando as mais diversas técnicas para criação
          de um Banco de dados. OAccess pode ser utilizado em pequenos sistemas de cadastro de
          clientes estoques e orçamentos, entre outros.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-3">
          <h3>Cursos desse pacote:</h3><br/>
          <ul>
            <li>Windows 7, 8 ou 10</li>
            <li>Word</li>
            <li>Excel</li>
            <li>Power Point</li>
            <li>Access</li>
            <li>Digitação</li>
          </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2">
          <h3>Investimento:</h3><br/>
          10x 60,00
        </div>
      <div class="col-sm-12 col-md-12 col-lg-2">
        <h3>Horária Total:</h3><br/>
        120 horas
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
    </div>
  </div>
