<app-header></app-header>
  <div class="row center-align">
    <div class="col s12 m12 l12 galeria">
      <h3 class="blue-grey-text left"><i class="material-icons">chevron_right</i>Dia a dia</h3>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/aluno.jpg">
      <p class="tituloLetra">Atendimento</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/aluno2.jpg">
      <p class="tituloLetra">Sala de Aula</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/eliane.jpg">
      <p class="tituloLetra">Recepção</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/aline.jpg">
      <p class="tituloLetra">Matrículas</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/alice1.jpg">
      <p class="tituloLetra">Tira dúvidas</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/alice1.jpg">
      <p class="tituloLetra">Dicas c/ Prof. Múcio</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/aluno.jpg">
      <p class="tituloLetra">Profs. Múcio e Roberto</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/aluno2.jpg">
      <p class="tituloLetra">Fachada escola</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/eliane.jpg">
      <p class="tituloLetra">TEste</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/aline.jpg">
      <p class="tituloLetra">Aline Ferreira</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/alice1.jpg">
      <p class="tituloLetra">Alice Santos</p>
    </div>
    <div class="col s12 m2 l2">
      <img src="./assets/img/certificados/alice1.jpg">
      <p class="tituloLetra">Alice Santos</p>
    </div>
  </div>
