img{
    width:200px; 
    height:270px;
    border-radius: 6px;
    padding: 5px; 
    //margin-bottom: 50px;
}

.tituloLetra{
    color:white;
    font-size: 20px;
    margin-top: -50px;
    margin-bottom: 20px; 
    padding-left: 10px; 
}

.galeria:hover{
    font-size: 20px;
    margin-top: -80px;
    margin-bottom: 20px; 
}
/*.tituloLetra:hover{
    //color:white;
    font-size: 20px;
    margin-top: -80px;
    margin-bottom: 20px; 
    //padding-left: 10px; 
}*/

img:hover{
    //background-color: white;
   // opacity: 0.5; 
    //background-image: url("/assets/img/Marca2Spaco.png"), url("/assets/img/overaly.png") ;
}